/*초기화*/
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Serif KR', serif;
  background-color: #222;
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/*본문스타일*/
body {
  background-color: #222;
  height: 100%;
}
#container {
  width: 900px;
  position: relative;
  left: 50%;
  margin-left: -450px;
}

/*측면사이드스타일*/
aside {
  float: left;
  width: 300px; height: 100vh;
  padding: 20px 50px;
  background-color: rgb(216, 216, 216);
}
aside > #namecard > h1 {
  margin-top: 20px;
}
#detail {
  margin-top: 100px;
}
#sns {
  margin-top: 50px;
}
#sns > ul > li {
  display: inline-block;
  width: 80px;
  padding-left: 10px;
}
aside p {
  margin-top: 10px;
}
/*본문스타일*/
#main {
  float: left;
  width: 600px; height: 100vh;
  background-color: #fff;
  padding: 20px;
}
#main > section {
  width: 500px;
  margin: 20px 10px;
  padding: 20px;
  border-bottom: 1px dotted #222;
}
section > p, section > ul {
  margin-top: 20px;
  margin: 60px;
}
#table {
margin-top: 30px;
border: 1px solid black;
}
#table > div > tr {
  font-size: 1.5em;
}