div {
  text-align: center;
line-height: 200px;
font-size: 20px;
font-weight: 900;
color: white;

  width: 200px; height: 200px;
  background-color: red;

  border: 20px solid black;
  margin: 30px 40px 50px 60px; padding: 30px;
}