/*초기화*/
* {
  margin: 0; padding: 0;
}
body {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 상단 토글박스 버튼*/
#main_header {
  height: 45px;
  background: url('./header_background.png');
  text-align: center;
  line-height: 45px;
  position: relative;
}
#main_header > h1 {
  color: #fff;
}
#main_header > a, #main_header > label {
  position: absolute;
  display: block;
  height: 32px;
}
#main_header > a.left {
  left: 5px; top: 7px;
  width: 62px; height: 32px;
  background: url('./header_left_button.png');
}
#main_header > label.right {
  right: 5px; top: 7px;
  width: 32px; height: 32px;
  background: url(/모바일Mobile/header_right_button.png);
}

/*하단 토글박스메뉴 */
#toggle {
  display: none;
}
#toggle + #wrap > #toggle_gnb_wrap {
  display: none;
}
#toggle:checked + #wrap > #toggle_gnb_wrap {
  display: block;
}
#toggle_gnb_wrap {
  background-color: #ff3198;
  padding: 15px;
}
#toggle_gnb > ul > #toggle_top {
  text-align: center;
}
#toggle_gnb > ul > #toggle_top > li {
  display: inline-block;
width: 70px;
}
#toggle_gnb > ul > #toggle_bottom {
  text-align: center;
}
#toggle_gnb > ul > #toggle_bottom > li {
  display: inline-block;
width: 70px;
}

/*gnb메뉴 */

#top_gnb {
overflow: hidden;
border: 1px solid black;
background-color: aqua;
}
#top_gnb > div a {
  float: left;
  width: 25%; height: 35px;

  text-align: center;
  line-height: 35px;
  color: #0c5c92;
}

/*gnb메뉴2 */
#bottom_gnb {
  width: 100%;
  border: 1px solid black;
  display: table;
}
#bottom_gnb > div {
  display: table-cell;
  position: relative;
}
#bottom_gnb > div > a {
  display: block;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

#bottom_gnb > div > a::before {
  content: "";
  width: 1px; height: 15px;
  border-left: 1px solid black;
  display: block;
  position: absolute;
  top: 9px; left: -3px;
}
/*본문스타일*/
#section_header {
  padding: 20px;
}

#section_article {
  padding: 20px;
}

/*푸터*/
#main_footer {
  text-align: center;
  border: 3px solid black;
  padding: 10px;
}