body {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/*header*/
#main_header {
  background-color:  #1d4088;

  height: 60px;
  line-height: 60px;

  padding-left: 10px;
  border-bottom: 1px solid #000;
}
main_header a {
  color: aliceblue;
}

/*Main_gnb*/
#main_gnb a {
display: block;
padding: 10px 20px;
font-weight: bold;
color: #fff;

border-left: 1px solid #5f6673;
border-right: 1px solid black;
}
#main_gnb {
  overflow: hidden;
  background-color: #32349a;
  border-bottom: 1px solid black;
}
#main_gnb > ul.left {
  float: left;
  overflow: hidden;
}
#main_gnb > ul.right {
  float: right;
  overflow: hidden;
}
#main_gnb > ul.left > li {
float: left;
}
#main_gnb > ul.right > li {
  float: right;
  }

  /*wrap content */
#wrap {
  overflow: hidden;
}
#wrap_content {
  padding-left: 200px;
}

/*main_lnb*/
#wrap #main_lnb {
  height: 100vh;
  background-color: aquamarine;
}

#wrap a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;

  border-top: 1ps solid blueviolet;
  border-bottom: 1px solid salmon;
}

/* footer */
#main_footer {
  text-align: center;
  border-top: 2px solid black;

  height: 60px;
  line-height: 60px;
  padding-left: 10px;
}